<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="/static/main.css" rel="stylesheet"/>
        <script defer src="/static/main.js"></script>
        <title>Twitter emotion</title>
    </head>
    <body>
        <h1>Analyse the emotional content of tweets!</h1>
        <p>Or any short text for that matter.</p>
        <form id="analyse-tweet" action="/emtoion-analysis/">
            <input
                name="tweet"
                id="tweet"
                type="text"
                value=""
                placeholder="Write some text here"/>
            <button>Analyse!</button>
        </form>
        <p id="warning" style="display:none;">This might take a while...</p>
        <ul id="results">
            
        </ul>
    </body>
</html>